@import url("https://fonts.googleapis.com/css?family=Poppins:400,900");
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.world {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #FF4066;
  top: 0;
  left: 0;
}

